
		<div class="container">
			<div class="card">
				<div class="cardimg">
					<img src="<%= rent.items[i].listing.mainImageURL %>" class="cardimg1">
				
					<div class="sellerrow">
			<img src="<%= rent.items[i].listing.companySeller.user.profilePictureURL %>"
						class="slrimg">
						<div class="sellerinfo">
						<div class="sellername"><%= rent.items[i].listing.companySeller.company.name %></div>
						<div class="rating">
								<%= json.items[i].listing.sellerCallRatingCount + " ratings" %>
							</div>
						<div class="sellertype"><% var str = rent.items[
									i].listing.listingSellerTransactionStatuses[0];
									var type = str.split('_').join(' '); %>
								<%=	type  %>
									
						</div>
						</div>
					</div>
				</div>
			<div class="buildingdesc">
				<h4 class="name"><strong><%= rent.items[i].listing.property.bedrooms + " BHK " + rent.items[i].listing.property.unitType %>
				</strong>
				<font color="grey">in <%= rent.items[i].listing.property.project.builder.name + " " + rent.items[i].listing.property.project.name %></font>
				</h4><br>
				<font color="grey">
					<p class="city"><%= rent.items[i].listing.property.project.locality.label + "," + rent.items[i].listing.property.project.locality.suburb.city.label %>
					</p></font>
				<div class="listing">
					<div class="hcol">
						<div class="price">
							<span>
							  <%= rent.items[i].listing.currentListingPrice.price %>
							</span>
						</div>
						<div class="lbl"><%= rent.items[i].listing.property.carpetArea +"/" + rent.items[i].listing.property.measure %>
							
						</div>
							
					</div>
					<div class="hcol">
						<div class="size">
							<span><%= rent.items[i].listing.property.size %>
							</span>
						</div>
						<div class="lbl">Area in
							<%= rent.items[i].listing.property.measure %>
							
						</div>	
					</div>
					<div class="hcol w1">
						<div class="val">
							<%= rent.items[i].listing.furnished %>
						</div>
						<div class="lbl">
							Status
							<img src="/images/link.png" class="link">

						</div>
					</div>	
				</div>
			
			<div class="desc">
				<div class="bathrooms"><%= rent.items[i].listing.property.bathrooms + " Bathrooms" + " |" %>
					₹ <%= rent.items[i].listing.securityDeposit + " Deposit" %>
				</div>
				<div class="info">
					<%= rent.items[i].listing.description %>
				</div>
				<div id="shortlist">
					<img src="/images/bookmark.png" class="shortlist1" onclick="this.src='/images/bookmark1.png'">
				</div>
			</div>
		</div>
		</div>	
	</div>
<!-- </div> -->
