		<div class="container">
			<div class="card" onclick="<%= json.items[i].lising.resaleURL %>">
				<div class="cardimg">
					<img src="<%= json.items[i].listing.mainImageURL %>" class="cardimg1">
				
					<div class="sellerrow">
			<img src="<%= json.items[i].listing.companySeller.user.profilePictureURL %>"
						class="slrimg">
						<div class="sellerinfo">
						<div class="sellername"><%= json.items[i].listing.companySeller.company.name %></div>
						<div class="rating">
								<%= json.items[i].listing.sellerCallRatingCount + " ratings" %>
							</div>
						<div class="sellertype"><% var str = json.items[
									i].listing.listingSellerTransactionStatuses[0];
									var type = str.split('_').join(' '); %>
								<%=	type  %>
									
						</div>
						</div>
					</div>
				</div>
			<div class="buildingdesc">
				<h4 class="name"><strong><%= json.items[i].listing.property.bedrooms + " BHK " + json.items[i].listing.property.unitType %>
				</strong>
				<font color="grey">in <%= json.items[i].listing.property.project.builder.name + " " + json.items[i].listing.property.project.name %></font>
				</h4><br>
				<font color="grey">
					<p class="city"><%= json.items[i].listing.property.project.locality.label + "," + json.items[i].listing.property.project.locality.suburb.city.label %>
					</p></font>
				<div class="listing">
					<div class="hcol">
						<div class="price">
							<span>
							  <%= json.items[i].listing.curjsonListingPrice.price %>
							</span>
						</div>
						<div class="lbl"><%= json.items[i].listing.property.carpetArea +"/" + json.items[i].listing.property.measure %>
							
						</div>
							
					</div>
					<div class="hcol">
						<div class="size">
							<span><%= json.items[i].listing.property.size %>
							</span>
						</div>
						<div class="lbl">Area in
							<%= json.items[i].listing.property.measure %>
							
						</div>	
					</div>
					<div class="hcol w1">
						<div class="val">
							<%= json.items[i].listing.furnished %>
						</div>
						<div class="lbl">
							Status
							<img src="/images/link.png" class="link">

						</div>
					</div>	
				</div>
			
			<div class="desc">
				<div class="bathrooms"><%= json.items[i].listing.property.bathrooms + " Bathrooms" + " |" %>
					₹ <%= json.items[i].listing.securityDeposit + " Deposit" %>
				</div>
				<div class="info">
					<%= json.items[i].listing.description %>
				</div>
				<div id="shortlist">
					<img src="/images/bookmark.png" class="shortlist1" onclick="this.src='/images/bookmark1.png'">
				</div>
			</div>
		</div>
		</div>	
	</div>
<!-- </div> -->
